.paper-section-bank-login-right-top.row
  .paper-section-bank-login-right-top-image
    = image_tag("bank_lock.png")
  .paper-section-bank-login-right-top-information
    .paper-section-bank-login-right-top-information-header
      %span Safe & Secure
    .paper-section-bank-login-right-top-information-subheader
      
      %span We use bank-level security to keep all your data secure
%hr
.paper-section-bank-login-subsection
  .paper-section-bank-login-subsection-points
    = image_tag("bank_pointer.png")
    %span Click security seals below to view our status as a safe and secure site.
  .paper-section-bank-login-subsection-points
    = image_tag("bank_pointer.png")
    %span Please be sure to click and read the terms and conditions for further info.
%hr
.paper-section-bank-login-subsection
  %span.paper-section-bank-login-subsection-phone 
    = image_tag("bank_phone.png")
  %span.paper-section-bank-login-subsection-questions Questions?
  %span.paper-section-bank-login-subsection-phone-number 1-888-504-6302
%hr
.paper-section-bank-login-subsection
  .paper-section-bank-login-subsection-security.row
    %span.paper-section-bank-login-subsection-security-image-left
      = link_to image_tag("norton_secured_seal.png"), "https://trustsealinfo.verisign.com/splash?form_file=fdf/splash.fdf&dn=www.buynance.com&lang=en", target: "_blank"
    %span.paper-section-bank-login-subsection-security-image-right
      %a{href: "#", onclick: "window.open('https://www.sitelock.com/verify.php?site=www.buynance.com','SiteLock','width=600,height=600,left=160,top=170');"}
        %img{alt: "website security", src: "//shield.sitelock.com/shield/www.buynance.com", title: "SiteLock"}/
%hr
.paper-section-bank-login-subsection
  .paper-section-bank-login-subsection-about
    %span We never store or view your passwords in connection with our identification verification service providers. We simply connect you to their sites to confirm ownership of your account.
