.paper-section-bank-login-right-top.row
  .paper-section-bank-login-right-top-image
    = image_tag("funder_icon.png")
  .paper-section-bank-login-right-top-information
    .paper-section-bank-login-right-top-information-header
      %span Get Funding
    .paper-section-bank-login-right-top-information-subheader
      %span Get fast – lightning fast, small business funding.
%hr
.paper-section-bank-login-subsection
  .paper-section-bank-login-subsection-points
    = image_tag("bank_pointer.png")
    %span Get up to $25,000 in an hour.
  .paper-section-bank-login-subsection-points
    = image_tag("bank_pointer.png")
    %span Preserve FICO points – No Credit Check.
  .paper-section-bank-login-subsection-points
    = image_tag("bank_pointer.png")
    %span Always safe, always secure.
%hr
.paper-section-bank-login-subsection
  %span.paper-section-bank-login-subsection-phone 
    = image_tag("bank_phone.png")
  %span.paper-section-bank-login-subsection-questions 
    %span Questions?
  %span.paper-section-bank-login-subsection-phone-number 
    %span 1-888-504-6302
%hr
.paper-section-bank-login-subsection
  .paper-section-bank-login-subsection-security.row
    %span.paper-section-bank-login-subsection-security-image-left
      = link_to image_tag("norton_secured_seal.png"), "https://trustsealinfo.verisign.com/splash?form_file=fdf/splash.fdf&dn=www.buynance.com&lang=en", target: "_blank"
    %span.paper-section-bank-login-subsection-security-image-right
      %a{href: "#", onclick: "window.open('https://www.sitelock.com/verify.php?site=www.buynance.com','SiteLock','width=600,height=600,left=160,top=170');"}
        %img{alt: "website security", src: "//shield.sitelock.com/shield/www.buynance.com", title: "SiteLock"}/
%hr
.paper-section-bank-login-subsection
  .paper-section-bank-login-subsection-about
    %span We never store or view your passwords in connection with our identification verification service providers. We simply connect you to their sites to confirm ownership of your account.
