.paper-section-bank-login-right-top.row
  .paper-section-bank-login-right-top-image
    = image_tag("funder_icon.png")
  .paper-section-bank-login-right-top-information
    .paper-section-bank-login-right-top-information-header
      %span Get Funding
    .paper-section-bank-login-right-top-information-subheader
      %span Get fast – lightning fast, small business funding.
%hr
.paper-section-bank-login-subsection
  .paper-section-bank-login-subsection-points
    = image_tag("bank_pointer.png")
    %span Get up to $25,000 in an hour.
  .paper-section-bank-login-subsection-points
    = image_tag("bank_pointer.png")
    %span Preserve FICO points – No Credit Check.
  .paper-section-bank-login-subsection-points
    = image_tag("bank_pointer.png")
    %span Always safe, always secure.
%hr
.paper-section-bank-login-subsection
  %span.paper-section-bank-login-subsection-phone 
    = image_tag("bank_phone.png")
  %span.paper-section-bank-login-subsection-questions 
    %span Questions?
  %span.paper-section-bank-login-subsection-phone-number 
    %span 1-888-504-6302