.paper-section-bank-login-right-top.row
  .paper-section-bank-login-right-top-image
    = image_tag("funder_icon.png")
  .paper-section-bank-login-right-top-information
    .paper-section-bank-login-right-top-information-header
      %span Did you know?
    .paper-section-bank-login-right-top-information-subheader
      %span Some restaurants use tugLocal™ to sell their inventory as a way to raise working capital.
%hr
.paper-section-bank-login-subsection
  .paper-section-bank-login-subsection-points
    = image_tag("bank_pointer.png")
    %span Pre-sell up to $125,000 worth of your excess "slow day" inventory to cover fixed costs. 
  .paper-section-bank-login-subsection-points
    = image_tag("bank_pointer.png")
    %span Generate hundreds, or thousands of permission based marketing opt-ins to "tug" them in when you need them.
  .paper-section-bank-login-subsection-points
    = image_tag("bank_pointer.png")
    %span Never pay a cent up front. 100%, zero interest, no credit check financing available.
%hr
.paper-section-bank-login-subsection
  %span.paper-section-bank-login-subsection-phone 
    = image_tag("bank_phone.png")
  %span.paper-section-bank-login-subsection-questions 
    %span Questions?
  %span.paper-section-bank-login-subsection-phone-number 
    %span 1-888-504-6302