.paper-section-bank-login-right-top.row
  .paper-section-bank-login-right-top-image
    = image_tag("funder_icon.png")
  .paper-section-bank-login-right-top-information
    .paper-section-bank-login-right-top-information-header
      %span Did you know?
    .paper-section-bank-login-right-top-information-subheader
      %span Some restaurants use Dine A Bite to sell their inventory as a way to raise working capital.
%hr
.paper-section-bank-login-subsection
  .paper-section-bank-login-subsection-points
    = image_tag("bank_pointer.png")
    %span Pre-sell thousand of dollars worth of your excess weekday inventory to cover fixed costs. 
  .paper-section-bank-login-subsection-points
    = image_tag("bank_pointer.png")
    %span Generate hundreds, or thousands of permission based marketing opt-ins as your "ace in the hole" for times when you need cash fast.
  .paper-section-bank-login-subsection-points
    = image_tag("bank_pointer.png")
    %span Your money is not ours. You keep 100% of the proceeds for one low monthly fee. 
%hr
.paper-section-bank-login-subsection
  %span.paper-section-bank-login-subsection-phone 
    = image_tag("bank_phone.png")
  %span.paper-section-bank-login-subsection-questions 
    %span Questions?
  %span.paper-section-bank-login-subsection-phone-number 
    %span 1-716-210-6249