#benefits.homepage-fluid-container.container-gray
  .homepage-container
    .benefits
      .benefits-header
        %span Benefits
      .benefits-body
        .benefits-body-row-green.clearfix
          .benefits-body-row-green-number
            = image_tag("https://res.cloudinary.com/buynance/image/upload/homepage/hompage_benefit_number_one.png")
          .benefits-body-row-green-image
            = image_tag("https://res.cloudinary.com/buynance/image/upload/homepage/homepage_benefit_image_one.gif")
          .benefits-body-row-green-information
            .benefits-body-row-green-information-block
              %span.benefits-body-row-green-information-block-text
                Pre-sell up to 
                %span.highlight-green $125,000 
                worth of your excess "slow day" inventory to cover fixed costs.
                We’re Fast! Get your hands on as much as 
              .benefits-body-row-green-information-block-arrow
                = image_tag("https://res.cloudinary.com/buynance/image/upload/c_scale,h_16,w_26/homepage_arrow_jklbvn.gif")
        .benefits-body-row-blue.clearfix
          .benefits-body-row-blue-number
            = image_tag("https://res.cloudinary.com/buynance/image/upload/homepage/hompage_benefit_number_2.gif")
          .benefits-body-row-blue-image
            = image_tag("https://res.cloudinary.com/buynance/image/upload/homepage/homepage_benefit_image_two.gif")
          .benefits-body-row-blue-information
            .benefits-body-row-blue-information-block
              %span.benefits-body-row-blue-information-block-text
                Generate 
                %span.highlight-blue
                  hundreds, or thousands 
                of permission based marketing opt-ins to "tug" them in when you need them.  
              .benefits-body-row-blue-information-block-arrow
                = image_tag("https://res.cloudinary.com/buynance/image/upload/c_scale,h_16,w_26/homepage_arrow_jklbvn.gif")
        .benefits-body-row-orange.clearfix
          .benefits-body-row-orange-number
            = image_tag("https://res.cloudinary.com/buynance/image/upload/v1407030321/homepage/hompage_benefit_number_three.png")
          .benefits-body-row-orange-image
            = image_tag("https://res.cloudinary.com/buynance/image/upload/homepage/homepage_benefit_image_three.gif")
          .benefits-body-row-orange-information
            .benefits-body-row-orange-information-block
              %span.benefits-body-row-orange-information-block-text
                Never pay a cent up front. 100%, zero interest, 
                %span.highlight-orange
                  no credit check 
                financing available.              
      .benefits-action-bar
        .benefits-action-bar-group.clearfix
          .benefits-action-bar-group-financed
            %a.flat-button.button-get-financed{href: "/signup?is_funding=true"}
              %span Get Started