#faq.dialer-fluid-gray
  .dialer-section
    .dialer-section-header
      %span FAQ
    .dialer-section-faq
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_one.png")
          .dialer-section-faq-item-header-text
            %span Who qualifies to join the co-op?
        .dialer-section-faq-item-text
          %span Do you have decent Yelp reviews? If so, you’re 90% of the way there.
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_two.png")
          .dialer-section-faq-item-header-text
            %span How exactly is the offer placed in the hands of locals?
        .dialer-section-faq-item-text
          %span We use Every Door Direct Mail by the United States Postal Service. Working with other restaurateurs in a co-op fashion allows you all to get massive local exposure at embarrassingly low rates. Generally speaking, 24 restaurants will divvy up a pool of 250,000 locals. That’s enough to go around for everyone.
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_three.png")
          .dialer-section-faq-item-header-text
            %span How much does this cost?
        .dialer-section-faq-item-text
          %span In most locations, we are able to place your offer in the palms of 10 local residents for the price of one stamp.
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_four.png")
          .dialer-section-faq-item-header-text
            %span Can I really pre-sell $125,000 worth of my slow day inventory?
        .dialer-section-faq-item-text
          %span It really depends on the average price of your offer. The lower the price, the more people will buy. We will show you what works to help you decide. At $25 per, when 2% of the quarter million or so palms we reach actually buy the offer, (5,000) that’s $125,000 to you. We don’t hold your money, it’s all hot wired directly to your bank account and never touches our hands.
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_five.png")
          .dialer-section-faq-item-header-text
            %span How much does tugLocalTM take from each sale?
        .dialer-section-faq-item-text
          %span Zero. However, merchant processing fees do apply.
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_six.png")
          .dialer-section-faq-item-header-text
            %span How can I use the permission based marketing opt-ins to get more business?
        .dialer-section-faq-item-text
          %span We do most of the work for you, you just authorize us. For example, let’s say you look at the news and see something is going to happen in your area (weather, parade, etc.) to slow down sales, you can respond by deploying an offer through us so as to bank that cash (in advance) to cover your fixed costs on that day. tugLocalTM is about winning big through a series of smaller wins. 
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_seven.png")
          .dialer-section-faq-item-header-text
            %span What if I decide to leave the co-op?
        .dialer-section-faq-item-text
          %span We’d hate to see you go, but we would certainly hand over to you the contact information of all folks who gave given you permission to reach out to them directly.
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_eight.png")
          .dialer-section-faq-item-header-text
            %span What if I have more than one location, can I create more than one offer?
        .dialer-section-faq-item-text
          %span Absolutely. As long as you secure your space on the cards for each location, this is not a problem.