.bottom{style: "padding-top: 20px;"}
  .container
    .footer.row
      .footer-image-section.col-xs-4
        =image_tag("http://res.cloudinary.com/buynance/image/upload/c_scale,w_184/tuglocal/tuglocal_logo_final-2.png")
      .col-xs-5
        .col-xs-6.footer-section
          .footer-section-header
            %span 
              USEFUL LINKS
          .footer-section-body
            %ul
              %li
                - if current_page?('/') 
                  %span{onclick: "$('body').scrollTo('body', 800)", style: "cursor: pointer;"} Home
                - else
                  %a{href: '/'} Home
              %li 
                - if current_page?('/')
                  %span{onclick: "$('body').scrollTo('#how', 800)", style: "cursor: pointer;"} How this Works
                - else
                  %a{href: '/#how'} How this Works
              %li 
                - if current_page?('/')
                  %span{onclick: "$('body').scrollTo('#benefits', 800)", style: "cursor: pointer;"} Benefits
                - else
                  %a{href: '/#benefits'} Benefits
              %li 
                - if current_page?('/') 
                  %span{onclick: "$('body').scrollTo('#why', 800)", style: "cursor: pointer;"} Why tugLocal™
                - else
                  %a{href: '/#why'} Why tugLocal
              %li
                - if current_page?('/')  
                  %span{onclick: "$('body').scrollTo('#faq', 800)", style: "cursor: pointer;"} FAQ
                - else
                  %a{href: '/#faq'} FAQ
        .col-xs-6.footer-section
          .footer-section-header
            %span WE ARE SOCIAL
          .footer-section-body
            %ul
              %li 
                = image_tag("facebook_footer_icon.png")
                %a{href: "http://www.facebook.com/Buynance", target: "_blank", style: "text-decoration: none; color: white;"} Facebook
              %li 
                = image_tag("twitter_footer_icon.png")
                %a{href: "http://www.twitter.com/buynance", target: "_blank", style: "text-decoration: none; color: white;"} Twitter
              %li 
                = image_tag("google_footer_icon.png")
                %span Google Plus
              %li 
                = image_tag("linkedin_footer_icon.png")
                %span Linkedin
              %li 
                = image_tag("youtube_footer_icon.png")
                %span Youtube
      .col-xs-3
        .footer-section
          .footer-section-header
            %span LOCATE US
          .footer-section-body
            .footer-address
              .footer-address-header
                %span Address
              .footer-address-body
                %ul
                  %li 
                    %span Funder Pair Inc.
                  %li 
                    %span 244 Fifth Avenue, Suite 2131
                  %li 
                    %span New York, NY 10001
          .footer-need-help
            .footer-need-help-header
              %span Need Help?
            .footer-need-help-body
              %ul
                %li
                  = image_tag("phone_footer_icon.png")
                  %span 
                    = "(888) 504-6302"
                %li
                  = image_tag("mail_footer_icon.png")
                  %span
                    = "team@buynance.com"

