!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    /= metamagic title: "Fast, No Credit Check, Small Business Funding", description: "We’ll buy up to $25,000 worth of your future sales and get you the cash in as little as one hour.", keywords: %w(merchant cash advance business funding small loan finance financing)
   
    /%title Faster, More Affordable, Small Business Funding.
    %script{href: "http://jquery.thewikies.com/browser/jquery.browser.min.js"}
    /%script{type: "text/javascript"}
    /  var _sf_startpt=(new Date()).getTime()
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    /= javascript_pluggable_tag 
    /%script{href: "http://www.decisionlogic.com/javascript/jquery-1.6.2.min.js"}
    /= javascript_include_tag "ga.js"
    /= javascript_include_tag "mixpanel.js"
    /= javascript_include_tag "zopim.js"
    
    = csrf_meta_tags
    /= render "layouts/facebook_pixel"
    = favicon_link_tag "favicon.ico"
    
  %body
    = render "layouts/header"
    = yield

    = render :partial => 'layouts/footer'
    /= render :partial => 'layouts/chart'
