!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    /= metamagic title: "Fast, No Credit Check, Small Business Funding", description: "We’ll buy up to $25,000 worth of your future sales and get you the cash in as little as one hour.", keywords: %w(merchant cash advance business funding small loan finance financing)
   
    %title Simple, Profitable, Local Restaurant Marketing Co-Op.
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %script{href: "http://jquery.thewikies.com/browser/jquery.browser.min.js"}
    %script{href: "https://maps.googleapis.com/maps/api/js?key=AIzaSyBACcW1Scur7a7j0x4DK8Ej5vqltnS26XE"}

    /%script{type: "text/javascript"}
    /  var _sf_startpt=(new Date()).getTime()
    = stylesheet_link_tag    "offer/application", media: "all"
    = javascript_include_tag "application"
    /= javascript_pluggable_tag 
    /%script{href: "http://www.decisionlogic.com/javascript/jquery-1.6.2.min.js"}
    /= javascript_include_tag "ga.js"
    /= javascript_include_tag "mixpanel.js"
    /= javascript_include_tag "zopim.js"
    
    = csrf_meta_tags
    /= render "layouts/facebook_pixel"
    = favicon_link_tag "favicon.ico"
    
  %body
    = yield